*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: "Montserrat", sans-serif;
    padding-top: 80px;
    line-height: 1.7rem;
}

header,nav {
    font-family: "lato",sans-serif;
}

h1, h2 ,h3,h4,h5{
    font-family: cursive;
}

/* utilityes */

.bg-primary{
    background-color: #f3ae7d !important;
}

.bg-secondary{
    background-color: #FFCFAE !important;
}

.bg-success{
    background-color:#fdf7f0 !important;
}


.btn-primary{
    border: #ffcfae !important;
    background-color: #ffcfae !important;
    color: black !important;
}

.text-primary{
    color:#ffcfae !important ;
}

hr{
    color: #FFCFAE;
}

 /* home  */

.nav-item a{
   color:#ffcfae;
} 

.nav-item a:hover{
   color:#fff;
} 

.intro{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    overflow-x: hidden;
}

.navbar-toggler {
    border-color: pink !important;
}


.short-intro a{
   text-decoration: none;
   color:white;
   font-size: 1.5rem;
}
.short-intro i{
   color:#ffcfae;
}

.defnition {
    background-color: white;
}

.defnition-first{
    border:4px  solid #ffcfae;
}

.treatments{
    background-color: #ffcfae;
}

.treatments .table td{
    background-color: #ffcfae;
    border:none;
    color: #fff;
    border-radius: 10px;
}

.map-wrapper {
  width: 100%;
  max-width: 600px;   
}

.map-wrapper iframe {
  width: 100%;
  height: 450px;    
  border: 0;
}


@media (max-width: 992px) {
   .part2{
    display: none;
   } 
  .opoinio .first {
    padding:2rem 0 !important; 
  }

   .map-wrapper iframe {
    height: 300px;    
  }
}

.local a{
    color: #000;
    text-decoration: none;
}
footer{
    color: #ffcfae;
}

footer hr{
    color: #FFCFAE;
}

footer a{
    text-decoration: none;
    color: #FFCFAE;
}

footer ul li{
    line-height:2rem;
}

/* reason */

.resone{
    background: url(https://beehivedental.com/wp-content/uploads/2025/01/beehive-4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.list-group-item{
    border-bottom: 2px solid #ffcfae !important;
}


/* about part */

.about-header{
    background: url(../photo/group.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height:80vh;
    margin-top: 30px;
}

.about-gallry .carousel-item img{
    width: 600px;
    height:400px ;
}

/* Team Part */

.team-header{
    background: url("../photo/group.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height:80vh;
    margin-top: 30px;
}

#members{
    padding-top: 200px;
}

.team-member a{
    text-decoration: none;
}
.team-member .card{
    object-fit: cover;
    border-radius: 20px;
    background-color:#f3ae7d ;
    border: none;
    transition: all 0.6s;   
}

.team-member .card:hover{
    background-color: white;
    border: 20px solid white;  
}



@media (min-width: 992px) {
  .card-up {
    transform: translateY(-80px);
  }

  .card-upp{
    transform: translateY(-90px);
  }


}

/*singele Portfoli */

.docterIntro-header{
  margin-top: 30px;
  
}

.docterIntro-header h1{
    font-size: 4rem;
}

/* #int{
    background-color: rgb(221, 221, 221);
    font-size: 0.4rem;
} */
#int span{
    font-size: 0.9rem;
}

#revard{
    background-color: rgb(221, 221, 221);
    border: 3px solid white;
}

.history-item1{
     background-color: rgb(221, 221, 221);
    border: 3px solid white;
}


@media screen and (max-width: 576px) {

  #int {
      font-size: 1rem !important;
      text-align: center;
  }

  #int img {
      width: 100%;
      height: auto;
  }

  .col-sm-12.col-lg-6 {
      padding: 1rem !important;
  }

  .docterIntro-header h1 {
      font-size: 2rem !important;
  }

  .docterIntro-header h4 {
      font-size: 1rem !important;
  }

  #revard {
      padding: 1.5rem !important;
  }

  .history-item1 {
      padding: 1.5rem !important;
  }

}

/* services part */
.service-header {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://beehivedental.com/wp-content/uploads/2025/01/beehive-dental-936418174.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh;
    margin-top: 30px;
}

.service-header a{
   text-decoration: none;
   color:white;
   font-size: 1.5rem;
}

.intro-services{
    background-color: #ffcfae;
}

.intro-services a{
    text-decoration: none;
    color: black;
    background-color:white;
}

.servis li{
    line-height: 2rem;
    font-size: 1.2rem;
}

.servis i{
    color: #ffcfae;
    font-size: 2rem;
}

.serviceFirst{
    background-color:#fdf7f0;
}

.accordion-button::after {
  display: none !important;
}

.accordion-button {
  background-color: #fff !important;
  color: #000 !important;
}

.accordion-button:not(.collapsed) {
  background-color: #fff !important;
  color: #000 !important;
  box-shadow: none !important;
}


.accordion-item {
  border: 1px solid #FFCFAE !important;
}


.accordion-button:not(.collapsed) {
  border: none !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
  border-color: transparent !important;
  outline: none !important;
}

.sercivetwo{
    background: url(https://pearldentistrynebraska.com/wp-content/uploads/2023/01/operatory-room-pearl-dentistry-banner.jpg) no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contact us */

.contact-header{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://advancedperioatl.com/wp-content/uploads/2023/09/welcome-to-atlanta-center-for-advanced-periodontics.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh;
    margin-top: 30px;
}
	
.contact a{
   text-decoration: none;
   color: #000;

}

.contact-form a{
    color: #FFCFAE;
}


.form-control:focus {
    border-color: inherit !important;
    box-shadow: none !important;
    outline: none !important;
}

.form-select:focus {
    border-color: inherit !important;
    box-shadow: none !important;
    outline: none !important;
}

.patientInformation .card h5{
    color:#f3ae7d;
}


/* blog  */

.blog-header{
    /* background-color:#e9d596; */
    color: #fff;
    margin-top: 30px;
    height: 50vh;
}

.card .card-body a{
    text-decoration: none;
    color: black;
}

.page-link{
    background-color:white;
    color: black;
}

.page-item.active .page-link {
    background-color:#FFCFAE;
    color: #fff;
    border-color: #FFCFAE;
}

.page-link:hover {
    background-color:#f3ae7d;
    color: #fff;
}

.page-item.active .page-link {
    background-color: #fff;   
    color: black;              
    border-color: #ffff;       
}

/* single */

.singleBlog-header{
    color: #fff;
    margin-top: 40px;
    height: 40vh;
}

/* portfolio */

.Gallery-items {
    perspective: 800px;
}

.Gallery-items img {
    transition: transform 0.5s ease-in;
}

.Gallery-items img:hover {
    transform: scale(0.95) translateZ(-20px);
}

#see-pationt .carousel-item img{
    width: 600px;
    height:400px ;
}















